# Core functionality - changes here should be rare!
/src/app.py                   @tjkgolf
/src/backend/database.py      @tjkgolf
/src/backend/routers/auth.py  @tjkgolf

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tjkgolf
